.acade {
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: auto;

}

.title2 {
    text-align: center;
}

.Ac {
    font-size: 47px;
    font-weight: 800;
    margin-bottom: 0;
}

.tex {
    font-size: 18px;
    font-weight: 500;
    color: rgb(112, 112, 112);
    font-style: italic;

}

.Acaimages {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 8px;
    margin: 4rem 0rem;

}

.cd {
    margin: 4rem 1rem;
}

.Acimg {
    max-width: 100%;
    height: auto;
    
 

}

.HT {
    text-align: left;
    margin-top: 2rem;
    color: rgb(64, 64, 64);
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

.txt {
    text-align: left;
    margin-top: -0.7rem;
    color: rgb(107, 108, 108);
    font-weight: 400;
}

.bt {

    background-color: rgb(149, 5, 5);
    text-decoration: none;
    color: white;
    padding: 15px 130px;


}

@media screen and (max-width: 780px) {

    .acade {
        margin-top: 4rem;
        margin-bottom: 10rem;
        height: auto;

    }

    .title2 {
        text-align: center;
        
    }

    .Ac {
        font-size: 40px;
    }

    .tex {
        font-size: 15px;
        margin: 1rem 1rem;

    }

    .Acaimages {

        
        justify-content: center;
        display: contents;

    }

    .cd {
        margin: 4rem 1rem;
       
    }

    .Acimg {
      width: 600px;
     
    
       
    }

    .HT {
        margin-top: 2rem;
        color: rgb(64, 64, 64);
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         margin-left: 1rem;


    }

    .txt {
        margin-top: -0.6rem;
        color: rgb(107, 108, 108);
        font-weight: 400;
        font-size: 16px;
        margin-left: 1rem;
    }

    .bt {
        padding: .7rem 4rem;
        border-radius: 2rem;


    }




}